/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}
html{
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg,#f6bb73 0%,#f6bb73 30%, white 50%,#f6bb73 80%, #f6bb73 100%);

}
/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;

}

/* the styles for the section */
main {
	clear: left;
	padding-right: 30px;
	padding-left: 30px;
}
main.h1{
	font-size: 150%;
	border-bottom: 3px solid #931420;
	border-top: 3px solid #931420;
	padding-top: .3em;
	padding-bottom: .3em;
}
main.h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
main.h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main.img{
	padding-bottom: 1em;
}
blockquote{
	font-style: italic;
	padding-right: 2em;
	padding-left: 2em;
}
ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
li{
	padding-bottom: .35em;
}

h2 {
	font-size: 170%;
	color: #800000;
}
h3{
	font-size: 130%;
	font-style: italic;
}

a:hover{
	font-style: italic;
}

/* the styles for the footer */
footer{
	border-bottom: 3px solid #931420;
	border-top: 3px solid #931420;
	background-color: #931420;
}
.foot {
	text-align: center;
	color: white;.
	padding-top: 1em;
	padding-bottom: 1em;
}

.shadow{
	text-shadow: 2px 2px 2px #800000;
}


#text{
	padding-bottom: .5em;
}
.speaker{
	font-size: 150%;
	border:3px double #800000;
	padding: .5em 0 .5em 2em;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px;
}